---
import Logo from "./Logo.astro"
import ThemeToggle from "./ThemeToggle.astro"
export const prerender = true
---

<header class="sticky top--100px z-99 px-2em">
  <div class="w-100px h-100px logo">
    <Logo />
  </div>
  <div class="flex justify-between items-center py-1">
    <div
      class="flex items-center mt-2 pb-2 text-2xl title cursor-pointer"
      onclick="scrollToTop()"
    >
      <span
        class="text-transparent font-extrabold bg-clip-text bg-gradient-to-r from-yellow-600 to-red-700 mr-1"
        id="title"
      >ChatGPT</span
      >
    </div>
    <ThemeToggle />
  </div>
</header>

<script is:inline>
  function scrollToTop() {
    window.scrollTo({
      top: 0,
      behavior: "smooth"
    })
  }

  window.matchMedia("(prefers-color-scheme: dark)").addListener(function(e) {
    const title = document.getElementById("title");
    if (e.matches) {
      // 用户设备为暗色主题
      title.classList.remove("dark:from-yellow-300");
      title.classList.remove("dark:to-red-700");
      title.classList.add("dark:from-blue-400");
      title.classList.add("dark:to-purple-600");
    } else {
      // 用户设备为亮色主题
      title.classList.remove("dark:from-blue-400");
      title.classList.remove("dark:to-purple-600");
      title.classList.add("dark:from-yellow-300");
      title.classList.add("dark:to-red-700");
    }
  });
</script>

<style is:inline>
  .after .title,
  .after #themeToggle,
  .after .logo,
  .after #message-container {
    transition-property: transform, opacity;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
  }

  .before .logo {
    transform: translate3D(25px, 150px, 0) scale(2);
  }

  .before #themeToggle {
    transform: translate3D(0, 200px, 0) rotate(540deg);
  }

  .before .title,
  .before #message-container {
    transform: translate3D(0, 200px, 0);
  }

  .before #themeToggle,
  .before #message-container {
    opacity: 0;
  }

  #themeToggle {
    border: 0;
    opacity: 1;
  }
  .after #message-container {
    opacity: 1;
  }
  /* 设置暗色主题下的标题颜色 */
  .dark #title {
    background-image: linear-gradient(to right, #4f46e5, #a15bb8, #fe8c00);
  }
</style>
